* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#080808, #353535);
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(black);
    background-position: center;
    background-size: cover;

}

.multiple-text {
    color: #97DEFF;
    font-weight: 600;
    font-size: 28;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

nav p {
    font-size: 55px;
    color: #f4f4f4;
    letter-spacing: .3rem;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ababab,
        1px 2px 0px,
        1px 3px 1px,
        1px 4px 1px,
        1px 5px 1px,
        1px 6px 1px rgba(0, 0, 0, 0.3);
}

nav p:hover {
    color: #04baec;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    font-weight: bold;

}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #04baec;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
    color: #04baec;
}

nav ul li:hover a {
    color: #04baec;
    
}




.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #04baec;
    
}

/* -----about-------- */
#about {
    padding: 80px 0px;
    color: #dddddd;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 h1,
#services h1,
#portfolio h1 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.title {
    display: flex;
    margin: 20px 0 40px;

}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;

}

.tab-links::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #62CDFF;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transition: 0.4s;
}

.tab-links.active::after {
    width: 70%;
}

.content ul li {
    list-style: none;
    margin: 10px 0;
    margin-bottom: 20px;
}

.content ul li span {
    color: #62CDFF;
    font-size: 18px;
    
}

.content {
    display: none;
}

.content.active-tab {
    display: block;
}

/* -------service---------- */
#services {
    padding: 30px 0px;

}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.service-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background .8s;
    transform: 0.6s;
}

.service-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.service-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}

.service-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}

.service-list div:hover {
    background: #07618b;
    border: 2px solid #074557;
    transform: translateY(-15px);
}

/* 
--------portfolio---------- */

#portfolio {
    padding: 50px 0px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 15px;
    position: relative;
    overflow: hidden;

}


.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), #19A7CE);
    border-radius: 15px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.4s;
    text-align: justify;
    font-size: 17px;
    color: #fff;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.2);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #04baec;
    padding: 14px 50px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transform: background 0.5s;
    background-color: #080808;
}

.btn:hover {
    background: #04baec;
  
}

/* -----------contact----------- */

.contact {
    flex-basis: 35%;

}

.contact p {
    margin-top: 30px;
}
.contact p a{
    text-decoration: none;
    color: white;
}

.contact p i {
    color: #04baec;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform .4s;
}

.social-icons a:hover {
    color: #04baec;
    transform: translateY(-5px);
}

.btn.btn-cv {
    display: inline-block;
    color: #fff;
}

nav .fas {
    display: none;
}


.grid {
    transition: all 1s ease;
    overflow: hidden;
    max-height: 1000px;

}

.collapsed {
    display: none;
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

}

@media only screen and (max-width:576px) {
    #header {
        background-image: linear-gradient(black);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0%;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.4s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .about-col-2 h1,
    #services h1,
    #portfolio h1 {
        font-size: 40px
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact {
        flex-basis: 100%;
    }
}


@media only screen and (max-width:875px) {
    #header {
        background-image: linear-gradient(black);
    }

    .header-text {
        margin-top: 70%;
        font-size: 20px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0%;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.4s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .about-col-2 h1,
    #services h1,
    #portfolio h1 {
        font-size: 45px
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 16px;
    }

    .tab-links {
        font-size: 18px;
        margin-right: 20px;
    }

    .contact {
        flex-basis: 100%;
    }
}